In [1]:
import pandas as pd
import numpy as np

In [18]:
behaviors = pd.read_csv('MINDsmall_train/behaviors.tsv', delimiter='\t', header=None, index_col=0)

In [19]:

behaviors.head()

,1,2,3,4
0,,,,
1,U13740,11/11/2019 9:05:58 AM,N55189 N42782 N34694 N45794 N18445 N63302 N104...,N55689-1 N35729-0
2,U91836,11/12/2019 6:11:30 PM,N31739 N6072 N63045 N23979 N35656 N43353 N8129...,N20678-0 N39317-0 N58114-0 N20495-0 N42977-0 N...
3,U73700,11/14/2019 7:01:48 AM,N10732 N25792 N7563 N21087 N41087 N5445 N60384...,N50014-0 N23877-0 N35389-0 N49712-0 N16844-0 N...
4,U34670,11/11/2019 5:28:05 AM,N45729 N2203 N871 N53880 N41375 N43142 N33013 ...,N35729-0 N33632-0 N49685-1 N27581-0
5,U8125,11/12/2019 4:11:21 PM,N10078 N56514 N14904 N33740,N39985-0 N36050-0 N16096-0 N8400-1 N22407-0 N6...

In [20]:
behavior.shape

(156965, 4)

In [39]:
behaviors.isna().any()

1    False
2    False
3     True
4    False
dtype: bool

In [47]:
behaviors.iloc[1,3]

'N20678-0 N39317-0 N58114-0 N20495-0 N42977-0 N22407-0 N14592-0 N17059-1 N33677-0 N7821-0 N6890-0'

In [41]:
behaviors[behaviors.isna().any(axis=1)]

,1,2,3,4
0,,,,
29,U33207,11/11/2019 11:09:14 AM,NaN,N62212-0 N27521-0 N28983-0 N12028-0 N25437-0 N...
97,U89839,11/11/2019 4:57:51 AM,NaN,N12042-0 N35729-0 N49685-0 N62729-1
156,U5598,11/13/2019 2:01:40 PM,NaN,N7121-0 N37437-0 N53861-0 N45891-0 N21141-0 N5...
195,U19208,11/11/2019 3:57:34 PM,NaN,N23414-1 N52474-0 N6099-0 N5980-0 N1914-0
258,U6879,11/14/2019 5:33:52 PM,NaN,N9284-0 N23391-0 N42849-0 N33828-0 N57081-0 N2...
...,...,...,...,...
156851,U85936,11/10/2019 8:52:02 AM,NaN,N41140-1 N4148-0
156891,U4828,11/11/2019 9:41:21 AM,NaN,N8957-0 N60162-0 N16804-0 N24180-0 N31370-0 N2...
156898,U38290,11/14/2019 3:50:07 PM,NaN,N59267-0 N12446-0 N53031-0 N3380-0 N56211-0 N5...
156922,U64209,11/11/2019 7:11:07 AM,NaN,N35729-0 N15830-0 N48759-0 N21519-1 N27581-0 N...
156936,U35188,11/11/2019 1:39:46 PM,NaN,N13930-0 N55204-0 N38662-0 N53585-1 N55689-0

In [38]:
len(behaviors.iloc[:,0].unique())

50000

In [23]:
behaviors.iloc[0,2]

'N55189 N42782 N34694 N45794 N18445 N63302 N10414 N19347 N31801'

In [28]:

pd.Timestamp(behaviors.iloc[0,1])

Timestamp('2019-11-11 09:05:58')

In [31]:
pd.to_datetime(behaviors.iloc[:,1]).iloc[0]

Timestamp('2019-11-11 09:05:58')

In [32]:
news = pd.read_csv('MINDsmall_train/news.tsv', delimiter='\t', header=None, index_col=0)

In [33]:
news.head()

,1,2,3,4,5,6,7
0,,,,,,,
N55528,lifestyle,lifestyleroyals,"The Brands Queen Elizabeth, Prince Charles, an...","Shop the notebooks, jackets, and more that the...",https://assets.msn.com/labs/mind/AAGH0ET.html,"[{""Label"": ""Prince Philip, Duke of Edinburgh"",...",[]
N19639,health,weightloss,50 Worst Habits For Belly Fat,These seemingly harmless habits are holding yo...,https://assets.msn.com/labs/mind/AAB19MK.html,"[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik...","[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik..."
N61837,news,newsworld,The Cost of Trump's Aid Freeze in the Trenches...,Lt. Ivan Molchanets peeked over a parapet of s...,https://assets.msn.com/labs/mind/AAJgNsz.html,[],"[{""Label"": ""Ukraine"", ""Type"": ""G"", ""WikidataId..."
N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,"I felt like I was a fraud, and being an NBA wi...",https://assets.msn.com/labs/mind/AACk2N6.html,[],"[{""Label"": ""National Basketball Association"", ..."
N38324,health,medical,"How to Get Rid of Skin Tags, According to a De...","They seem harmless, but there's a very good re...",https://assets.msn.com/labs/mind/AAAKEkt.html,"[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI...","[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI..."

In [49]:
news.iloc[0,4]

'https://assets.msn.com/labs/mind/AAGH0ET.html'

In [53]:
aa = [1,2]#,3,4]
bb = [100,200]
aa = bb
for i in range(len(aa)):
    aa[i] = bb[i]
bb[0] = 10000
aa

[10000, 200]